{
  "swagger": "2.0",
  "info": {
    "title": "Stripe API",
    "description": "Stripe is a simple, developer-friendly way to accept payments online. They believe that enabling transactions on the web is a problem rooted in code, not finance, and they want to help put more websites in business.",
    "termsOfService": "https://stripe.com/terms",
    "version": "v1"
  },
  "host": "api.stripe.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/accounts/{account_id}": {
      "get": {
        "summary": "Retrieve account details",
        "description": "By default, you can see the 10 most recent bank accounts stored on a managed account directly on the object, but you can also retrieve details about a specific bank account stored on the Stripe account.      ",
        "operationId": "retrieve-account",
        "parameters": [
          {
            "in": "query",
            "name": "account",
            "description": "The identifier of the account to be retrieved. If none is provided, will default to the account of the API key.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/cards/{cart_id}": {
      "get": {
        "summary": "Retrieve a card",
        "description": "You can always see the 10 most recent cards directly on a managed account; this method lets you retrieve details about a specific card stored on the account.",
        "operationId": "account-retrieve-card",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/external_accounts/{bank_account_aid}": {
      "delete": {
        "summary": "Delete a bank account",
        "description": "You can delete destination bank accounts from a managed account. If a bank account is the default        external account for its currency, it can only be deleted if it is the only external        account for that currency, and the currency is not the Stripe accounts default currency.        Otherwise, you must set another external account to be the default for the currency before        deleting it.      ",
        "operationId": "account-delete-bank-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "bank_account_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/external_accounts/{bank_account_id}": {
      "post": {
        "summary": "Update a bank account",
        "description": "Updates the metadata of a bank account belonging to a managed account, and optionally sets it as the default for its currency.Other bank account details are not editable by design.n      ",
        "operationId": "account-update-bank-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "bank_account_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_for_currency",
            "description": "If set to true, this bank account will become the default external account for its currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the bank account to be updated.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/external_accounts/{card_id}/": {
      "delete": {
        "summary": "Delete a card",
        "description": "You can delete cards from a managed account.n      ",
        "operationId": "account-delete-card",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "card_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the source to be deleted.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      },
      "post": {
        "summary": "Update a card",
        "description": "If you need to update only some card details, like the billing address or expiration date, you can do so without having to re-enter the full card details. Stripe also works directly with card networks so that your customers can continue using your service without interruption.n      ",
        "operationId": "account-update-card",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "card_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_for_currency",
            "description": "Only applicable on accounts (not customers or recipients). If set to true, this card will become the default external account for its currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the card to be updated.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/external_accounts/": {
      "post": {
        "summary": "Create a bank account",
        "description": "When you create a new bank account, you must specify amanaged account to create it on.n      ",
        "operationId": "account-create-bank-account",
        "parameters": [
          {
            "in": "query",
            "name": "account_holder_name",
            "description": "The name of the person or business that owns the bank account. This field is required when attaching the bank account to a customer object.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "account_holder_type",
            "description": "The type of entity that holds the account. This can be either individual or company. This field is required when attaching the bank account to a customer object.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "account_number",
            "description": "The account number for the bank account in string form. Must be a checking account.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "country",
            "description": "The country the bank account is in.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "The currency the bank account is in. This must be a country/currency pairing that Stripe supports.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "cvc",
            "description": "Card security code. Required unless your account is registered in Australia, Canada, or the United States. Highly recommended to always include this value.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_for_currency",
            "description": "If you set this to true (or if this is the first external account being added in this currency) this bank account will become the default external account for its currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_month",
            "description": "Two digit number representing the cards expiration month.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_year",
            "description": "Two or four digit number representing the cards expiration year.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to an external account object.n      It can be useful for storing additional information about the external account in a structured format.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Cardholders full name.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "number",
            "description": "The card number, as a string without any separators.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "routing_number",
            "description": "The routing number, sort code, or other country-appropriate institution number for the bank account. For US bank accounts, this is required and should be the ACH routing number, not the wire routing number. If you are providing an IBAN for account_number, this field is not required.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "source | external_account",
            "description": "When adding a bank account to a customer, the parameter name is source. When addingn      to an account, the parameter name is external_account. The value can either be a token, liken      the ones returned by Stripe.js, or a dictionary containing a useru2019sn      bank account details (with the options shown below).",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/reject/": {
      "post": {
        "summary": "Reject an account",
        "description": "With Connect, you may flag managed accounts as suspicious.",
        "operationId": "reject-account",
        "parameters": [
          {
            "in": "query",
            "name": "account",
            "description": "The identifier of the account to be rejected.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "reason",
            "description": "The reason for rejecting the account. May be one of fraud, terms_of_service, or other.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/{account_id}/": {
      "delete": {
        "summary": "Delete an account",
        "description": "With Connect, you may delete Stripe accounts you manage.",
        "operationId": "delete-account",
        "parameters": [
          {
            "in": "query",
            "name": "account",
            "description": "The identifier of the account to be deleted. If none is provided, will default to the account of the API key.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      },
      "post": {
        "summary": "Update an account",
        "description": "Updates an account by setting the values of the parameters passed. Any parameters not provided will be left unchanged.      ",
        "operationId": "update-account",
        "parameters": [
          {
            "in": "query",
            "name": "account_holder_name",
            "description": "The name of the person or business that owns the bank account. This field is required when attaching the bank account to a customer object.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "account_holder_type",
            "description": "The type of entity that holds the account. This can be either individual or company. This field is required when attaching the bank account to a customer object.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "account_number",
            "description": "The account number for the bank account in string form. Must be a checking account.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "address",
            "description": "The address of this legal entity",
            "type": "string"
          },
          {
            "in": "query",
            "name": "address_kana",
            "description": "The Kana variation of the address of this legal entity (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "address_kanji",
            "description": "The Kanji variation of the address of this legal entity (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_name",
            "description": "The publicly sharable name for this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_name_kana",
            "description": "The Kana variation of the legal name of the company (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_name_kanji",
            "description": "The Kanji variation of the legal name of the company (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_primary_color",
            "description": "A CSS hex color value representing the primary branding color for this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_tax_id",
            "description": "The business ID number of the legal entity, if itu2019s registered as a company, as appropriate for the country itu2019s in. For example, an EIN in the US, a Business Number in Canada, a Company Number in the UK, etc.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_url",
            "description": "The URL that best shows the service or product provided for this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_vat_id",
            "description": "The VAT number of the legal entity, if itu2019s registered as a company.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "country",
            "description": "The country the bank account is in.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "The currency the bank account is in. This must be a country/currency pairing that Stripe supports.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "cvc_failure",
            "description": "Whether or not Stripe should automatically decline charges with an incorrect CVC. This setting only applies if a card includes a CVC and the bank specifically marks it as failed.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "debit_negative_balances",
            "description": "A boolean for whether or not Stripe should try to reclaim negative balances from the account holderu2019s bank account. See our managed account bank transfer guide for more information",
            "type": "string"
          },
          {
            "in": "query",
            "name": "decline_charge_on",
            "description": "Account-level settings to automatically decline certain types of charges regardless of the banku2019s decision.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_currency",
            "description": "Three-letter ISO currency code representing the default currency for the account. This must be a currency that Stripe supports in the accountu2019s country.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "dob",
            "description": "The date of birth of this owner. Note that if you must provide all parts of the date of birth at the same time. You cannot, for example, only provide the year without also providing month and day.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email address of the account holder. For standalone accounts, this is used to email them asking them to claim their Stripe account. For managed accounts, this is only to make the account easier to identify to you: Stripe will not email the account holder.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "external_account",
            "description": "A card or bank account to attach to the account. You can provide either a token, like the ones returned by Stripe.js, or a dictionary as documented in the external_account parameter for either card or bank account creation. This will create a new external account object, make it the new default external account for its currency, and delete the old default if one exists. If you want to add additional external accounts instead of replacing the existing default for this currency, use the bank account or card creation API.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "first_name",
            "description": "The first name of this owner.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "first_name_kana",
            "description": "The Kana variation of the first name of the individual responsible for the account (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "first_name_kanji",
            "description": "The Kanji variation of the first name of the individual responsible for the account (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "gender",
            "description": "The gender of the individual responsible for the account (International regulations require either u201cmaleu201d or u201cfemaleu201d)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "interval",
            "description": "How frequently funds will be paid out. One of manual (for only triggered via API call), daily, weekly, or monthly. Default is daily.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ip",
            "description": "The IP address from which Stripeu2019s terms of service were agreed to by the account holder",
            "type": "string"
          },
          {
            "in": "query",
            "name": "last_name",
            "description": "The last name of this owner.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "last_name_kana",
            "description": "The Kana varation of the last name of the individual responsible for the account (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "last_name_kanji",
            "description": "The Kanji varation of the last name of the individual responsible for the account (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "legal_entity",
            "description": "Information about the holder of this account, i.e. the user receiving funds from this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "line1",
            "description": "Address line 1 (Street address/PO Box/Company name)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "line2",
            "description": "Address line 2 (Apartment/Suite/Unit/Building)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "maiden_name",
            "description": "The maiden name of the individual responsible for the account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to an account object. It can be useful for storing additional information about the account in a structured format.      This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "month",
            "description": "The month of birth, between 1 and 12.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "monthly_anchor",
            "description": "The day of the month funds will be paid out. Required and available only if interval is monthly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "personal_address",
            "description": "The personal address of the representative of this legal entity, used for verification",
            "type": "string"
          },
          {
            "in": "query",
            "name": "personal_address_kana",
            "description": "The Kana variation of the representative of this legal entity, used for verification (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "personal_address_kanji",
            "description": "The Kanji variation of the representative of this legal entity, used for verification (Japan only)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "personal_id_number",
            "description": "The ID number of the representative, as appropriate for the legal entityu2019s country. For example, a social security number in the US, social insurance number in Canada, etc. Instead of the number itself, you can also provide a PII token provided by Stripe.js.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "phone_number",
            "description": "The phone number of the company, used for verification",
            "type": "string"
          },
          {
            "in": "query",
            "name": "postal_code",
            "description": "Zip/Postal Code",
            "type": "string"
          },
          {
            "in": "query",
            "name": "product_description",
            "description": "Internal-only description of the product being sold or service being provided by this account. Itu2019s used by Stripe for risk and underwriting purposes.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "routing_number",
            "description": "The routing number, sort code, or other country-appropriate institution number for the bank account. For US bank accounts, this is required and should be the ACH routing number, not the wire routing number. If you are providing an IBAN for account_number, this field is not required.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ssn_last_4",
            "description": "The last 4 digits of the social security number of the representative of the legal entity. Only requested in the US.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "state",
            "description": "State/Province/County",
            "type": "string"
          },
          {
            "in": "query",
            "name": "statement_descriptor",
            "description": "The text that will appear on credit card statements by default if a charge is being made directly on the account.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "support_email",
            "description": "A publicly shareable email address that can be reached for support for this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "support_phone",
            "description": "A publicly shareable phone number that can be reached for support for this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "support_url",
            "description": "A publicly shareable URL that can be reached for support for this account",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tos_acceptance",
            "description": "Details on who accepted the Stripe terms of service, and when they accepted it. See our updating managed accounts guide for more information",
            "type": "string"
          },
          {
            "in": "query",
            "name": "town",
            "description": "Town/cho-me",
            "type": "string"
          },
          {
            "in": "query",
            "name": "transfer_schedule",
            "description": "Details on when this account will make funds from charges available, and when they will be paid out to the account holderu2019s bank account. See our managed account bank transfer guide for more information",
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "description": "The type of the legal entity, either u201cindividualu201d or u201ccompanyu201d.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "user_agent",
            "description": "The user agent of the browser from which Stripeu2019s terms of service were agreed to by the account holder",
            "type": "string"
          },
          {
            "in": "query",
            "name": "verification",
            "description": "Information on the verification state of this owner.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "weekly_anchor",
            "description": "The day of the week funds will be paid out, of the style u2018mondayu2019, u2018tuesdayu2019, etc. Required and available only if interval is weekly.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "year",
            "description": "The 4-digit year of birth.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/accounts/": {
      "get": {
        "summary": "List all connected accounts",
        "description": "Returns a list of accounts connected to your platform via Connect. If youu2019re not a platform, the list will be empty.",
        "operationId": "list-accounts",
        "parameters": [
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          ""
        ],
        "security": []
      },
      "post": {
        "summary": "Create an account",
        "description": "With Connect, you can create Stripe accounts for your users. To do this, youll first need to register your platform.n      ",
        "operationId": "create-account",
        "parameters": [
          {
            "in": "query",
            "name": "",
            "description": "See account updating for more parameters you may pass. For standalone accounts, these parameters are used to pre-fill the account application we ask the account holder to fill out. For managed accounts is the information used to identify and verify the account.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "country",
            "description": "The country the account holder resides in or that the business is legally established in. For example, if you are in the United States and the business youu2019re creating an account for is legally represented in Canada, you would use u201cCAu201d as the country for the account being created.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "email",
            "description": "The email address of the account holder. For standalone accounts, Stripe will email your user with instructions for how to set up their account. For managed accounts, this is only to make the account easier to identify to you: Stripe will never directly reach out to your users.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "managed",
            "description": "Whether youd like to create a managed or standalone account. Managed accounts have extra parameters available to them, and require that you, the platform, handle all communication with the account holder. Standalone accounts are normal Stripe accounts: Stripe will email the account holder to setup a username and password, and handle all account management directly with them.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": []
      }
    },
    "/application_fees/{application_feed_id}/refunds/{refund_id}/": {
      "get": {
        "summary": "Retrieve an application fee refund",
        "description": "By default, you can see the 10 most recent refunds stored directly on the application fee object, but you can also retrieve details about a specific refund stored on the application fee.      ",
        "operationId": "retrieve-fee-refund",
        "parameters": [
          {
            "in": "query",
            "name": "fee",
            "description": "ID of the application fee refunded.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "ID of refund to retrieve.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Fees"
        ],
        "security": []
      }
    },
    "/application_fees/{application_feed_id}/": {
      "get": {
        "summary": "Retrieve an application fee",
        "description": "Retrieves the details of an application fee that your account has collected. The same information is returned when refunding the application fee.",
        "operationId": "retrieve-application-fee",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "The identifier of the fee to be retrieved.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Fees"
        ],
        "security": []
      }
    },
    "/application_fees/{application_feed_id}/refunds/": {
      "get": {
        "summary": "List all application fee refunds",
        "description": "You can see a list of the refunds belonging to a specific application fee. Note that the 10 most recent refunds are always available by default on the application fee object. If you need more than those 10, you can use this API method and the limit and starting_after parameters to page through additional refunds.n      ",
        "operationId": "list-fee-refunds",
        "parameters": [
          {
            "in": "path",
            "name": "application_fee_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the application fee whose refunds will be retrieved.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Fees"
        ],
        "security": []
      }
    },
    "/application_fees/{fee_id}/refunds/{refund_id}/": {
      "post": {
        "summary": "Update an application fee refund",
        "description": "Updates the specified application fee refund by setting the values of the parameters passed. Any parameters not provided will be left unchanged.n      ",
        "operationId": "update-fee-refund",
        "parameters": [
          {
            "in": "path",
            "name": "fee_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to an application fee refund object. It can be useful for storing additional information about the refund in a structured format. You can unset individual keys if you POST an empty value for that key.  You can clear all keys if you POST an empty value for metadata.You can unset an individual key by setting its value to null and then saving.    To clear all keys, set metadata to null, then save.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "refund_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Fees"
        ],
        "security": []
      }
    },
    "/application_fees/{fee_id}/refunds/": {
      "post": {
        "summary": "Create an application fee refund",
        "description": "Refunds an application fee that has previously been collected but not yet refunded. Funds will be refunded to the Stripe account that the fee was originally collected from.n      ",
        "operationId": "create-fee-refund",
        "parameters": [
          {
            "in": "query",
            "name": "amount",
            "description": "A positive integer in cents representing how much of this fee to refund. Can only refund up to the unrefunded amount remaining of the fee.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "fee_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The identifier of the application fee to be refunded.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a refund object. It can be useful for storing additional information about the refund in a structured format. You can unset individual keys if you POST an empty value for that key.  You can clear all keys if you POST an empty value for metadata.You can unset an individual key by setting its value to null and then saving.    To clear all keys, set metadata to null, then save.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Fees"
        ],
        "security": []
      }
    },
    "/application_fees": {
      "get": {
        "summary": "List all application fees",
        "description": "Returns a list of application fees youu2019ve previously collected. The application fees are returned in sorted order, with the most recent fees appearing first.",
        "operationId": "list-application-fees",
        "parameters": [
          {
            "in": "query",
            "name": "charge",
            "description": "Only return application fees for the charge specified by this charge ID.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "created",
            "description": "A filter on the list based on the object created field. The value can be a string with an integer Unix timestamp, or it can be a dictionary with the following options:",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "gte",
            "description": "Return values where the created field is after or equal to this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "lt",
            "description": "Return values where the created field is before this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "lte",
            "description": "Return values where the created field is before or equal to this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Fees"
        ],
        "security": []
      }
    },
    "/balance/history/{transaction_id}/": {
      "get": {
        "summary": "Retrieve a balance transaction",
        "description": "Retrieves the balance transaction with the given ID.",
        "operationId": "retrieve-balance-transaction",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the desired balance transaction (as found on any API object that affects the balance, e.g. a charge or transfer).",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Balance"
        ],
        "security": []
      }
    },
    "/balance/history/": {
      "get": {
        "summary": "List all balance history",
        "description": "Returns a list of transactions that have contributed to the Stripe account balance (e.g., charges, transfers, and so forth). The transactions are returned in sorted order, with the most recent transactions appearing first.n      ",
        "operationId": "balance-history",
        "parameters": [
          {
            "in": "query",
            "name": "available_on",
            "description": "A filter on the list based on the object available_on field. The value can be a string with an integer Unix timestamp, or it can be a dictionary with the following options:",
            "type": "string"
          },
          {
            "in": "query",
            "name": "created",
            "description": "A filter on the list based on the object created field. The value can be a string with an integer Unix timestamp, or it can be a dictionary with the following options:",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "gte",
            "description": "Return values where the available_on field is after or equal to this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "lt",
            "description": "Return values where the available_on field is before this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "lte",
            "description": "Return values where the available_on field is before or equal to this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "source",
            "description": "Only returns the original transaction.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "transfer",
            "description": "For automatic Stripe transfers only, only returns transactions that were transferred out on the specified transfer ID.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Only returns transactions of the given type. One of: charge, refund, adjustment, application_fee, application_fee_refund, transfer, or transfer_failure",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Balance"
        ],
        "security": []
      }
    },
    "/balance/": {
      "get": {
        "summary": "Retrieve balance",
        "description": "Retrieves the current account balance, based on the authentication that was used to make the request.",
        "operationId": "retrieve-balance",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Balance"
        ],
        "security": []
      }
    },
    "/bitcoin/receivers/{bitcoin_receiver_id}/": {
      "get": {
        "summary": "Retrieve a receiver",
        "description": "Retrieves the Bitcoin receiver with the given ID.",
        "operationId": "retrieve-bitcoin-receiver",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The bitcoin receiver id.",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Bitcoin"
        ],
        "security": []
      }
    },
    "/bitcoin/receivers/": {
      "get": {
        "summary": "List all receivers",
        "description": "Returns a list of your receivers. Receivers are returned sorted by creation date, with the most recently created receivers appearing first.",
        "operationId": "list-bitcoin-receivers",
        "parameters": [
          {
            "in": "query",
            "name": "active",
            "description": "Filter for active receivers.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "filled",
            "description": "Filter for filled receivers.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "uncaptured_funds",
            "description": "Filter for receivers with uncaptured funds.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Bitcoin"
        ],
        "security": []
      },
      "post": {
        "summary": "Create a receiver",
        "description": "Creates a Bitcoin receiver object that can be used to accept bitcoin payments from your customer. The receiver exposes a Bitcoin address and is created with a bitcoin to USD exchange rate that is valid for 10 minutes.",
        "operationId": "create-bitcoin-receiver",
        "parameters": [
          {
            "in": "query",
            "name": "amount",
            "description": "The amount of currency that you will be paid.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "The currency to which the bitcoin will be converted. You will be paid out in this currency. Only USD is currently supported.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "email",
            "description": "The email address of the customer.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a customer object. It can be useful for storing additional information about the customer in a structured format.      This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "refund_mispayments",
            "description": "A flag that indicates whether you would like Stripe to automatically handle refunds for any mispayments to the receiver.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Bitcoin"
        ],
        "security": []
      }
    },
    "/charges/{charge_id}/": {
      "post": {
        "summary": "Update a charge",
        "description": "Updates the specified charge by setting the values ofthe parameters passed. Any parameters not provided willbe left unchanged.n      ",
        "operationId": "update-charge",
        "parameters": [
          {
            "in": "path",
            "name": "charge_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "An arbitrary string which you can attach to a charge    object. It is displayed when in the web interface    alongside the charge. Note that if you use Stripe to send    automatic email receipts to your customers, your receipt    emails will include the description of the charge(s) that    they are describing.    This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "fraud_details",
            "description": "A set of key/value pairs you can attach to a charge giving    information about its riskiness. If you believe a charge is    fraudulent, include a user_report key with a value of    fraudulent. If you believe a charge is safe, include a    user_report key with a value of safe. Note    that you must refund a charge before setting the    user_report to fraudulent. Stripe will use    the information you send to improve our fraud detection algorithms.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a charge    object. It can be useful for storing additional information about the charge    in a structured format.    You can unset individual keys if you POST an empty value for that key.  You can clear all keys if you POST an empty value for metadata.You can unset an individual key by setting its value to null and then saving.    To clear all keys, set metadata to null, then save.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "receipt_email",
            "description": "This is the email address that the receipt for this charge will be sent to.    If this field is updated, then a new email receipt will be sent to the updated    address.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "shipping",
            "description": "Shipping information for the charge. Helps prevent fraud on charges for physical goods.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Charges"
        ],
        "security": []
      }
    },
    "/charges/{charge_id}/capture/": {
      "post": {
        "summary": "Capture a charge",
        "description": "Capture the payment of an existing, uncaptured, charge. This is the second half of the two-step payment flow, where first you created a charge with the capture option set to false.",
        "operationId": "capture-charge",
        "parameters": [
          {
            "in": "query",
            "name": "amount",
            "description": "The amount to capture, which must be less than or equal to the original amount. Any additional amount will be automatically refunded.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "application_fee",
            "description": "An application fee to add on to this charge. Can only be used with Stripe Connect.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "charge_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "receipt_email",
            "description": "The email address to send this chargeu2019s receipt to. This will override the previously-specified email address for this charge, if one was set. Receipts will not be sent in test mode.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "statement_descriptor",
            "description": "An arbitrary string to be displayed on your customeru2019s credit card statement. This may be up to 22 characters. As an example, if your website is RunClub and the item youu2019re charging for is a race ticket, you may want to specify a statement_descriptor of RunClub 5K race ticket. The statement description may not include &lt;&gt; characters, and will appear on your customeru2019s statement in capital letters. Non-ASCII characters are automatically stripped. Updating this value will overwrite the previous statement descriptor of this charge. While most banks display this information consistently, some may display it incorrectly or not at all.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Charges"
        ],
        "security": []
      }
    },
    "/charges/{charge_id}/refunds/": {
      "post": {
        "summary": "Create a refund",
        "description": "When you create a new refund, you must specify a charge to create it on.n      ",
        "operationId": "create-refund",
        "parameters": [
          {
            "in": "query",
            "name": "amount",
            "description": "A positive integer in cents representing how much of this charge to refund. Can only refund up to the unrefunded amount remaining of the charge.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "charge",
            "description": "The identifier of the charge to refund.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "charge_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a refund object. It can be useful for storing additional information about the refund in a structured format. You can unset individual keys if you POST an empty value for that key.  You can clear all keys if you POST an empty value for metadata.You can unset an individual key by setting its value to null and then saving.    To clear all keys, set metadata to null, then save.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "reason",
            "description": "String indicating the reason for the refund. If set, possible values are duplicate, fraudulent, and requested_by_customer. Specifying fraudulent as the reason when you believe the charge to be fraudulent will help us improve our fraud detection algorithms.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "refund_application_fee",
            "description": "Boolean indicating whether the application fee should be refunded when refunding this charge. If a full charge refund is given, the full application fee will be refunded. Else, the application fee will be refunded with an amount proportional to the amount of the charge refunded.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "reverse_transfer",
            "description": "Boolean indicating whether the transfer should be reversed when refunding this charge. The transfer will be reversed for the same amount being refunded (either the entire or partial amount).",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Charges"
        ],
        "security": []
      }
    },
    "/charges/": {
      "get": {
        "summary": "Idempotent Requests",
        "description": "The API supports idempotency for safely retrying requests without accidentally performing the same operation twice. For example, if a request to create a charge fails due to a network connection error, you can retry the request with the same idempotency key to guarantee that only a single charge is created.n      ",
        "operationId": "idempotent-requests",
        "parameters": [
          {
            "in": "query",
            "name": "",
            "description": "Attach your systems unique IDs to a Stripe object for easy lookups. Add your order number to a charge, your user ID to a customer or recipient, or a unique receipt number to a transfer, for example.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Charges"
        ],
        "security": []
      },
      "post": {
        "summary": "Create a charge",
        "description": "To charge a credit card, you create a charge object. If your API key is in test mode, the supplied payment source (e.g., card or Bitcoin receiver) wont actually be charged, though everything else will occur as if in live mode. (Stripe assumes that the charge would have completed successfully).n      ",
        "operationId": "create-charge",
        "parameters": [
          {
            "in": "query",
            "name": "amount",
            "description": "A positive integer in the smallest currency unit (e.g., 100 cents to charge $1.00 or 1 to charge u00a51, a 0-decimal currency) representing how much to charge the card. The minimum amount is $0.50 US or equivalent in charge currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "application_fee",
            "description": "A fee in cents that will be applied to the charge and transferred to the application owners Stripe account. To use an application fee, the request must be made on behalf of another account, using the Stripe-Account header, an OAuth key, or the destination parameter. For more information, see the application fees documentation.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "capture",
            "description": "Whether or not to immediately capture the charge. When false, the charge issues an authorization (or pre-authorization), and will need to be captured later. Uncaptured charges expire in 7 days. For more information, see authorizing charges and settling later.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "3-letter ISO code for currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "customer",
            "description": "The ID of an existing customer that will be charged in this request.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "cvc",
            "description": "Card security code. Required unless your account is registered in Australia, Canada, or the United States. Highly recommended to always include this value.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "An arbitrary string which you can attach to a charge object. It is displayed when in the web interface alongside the charge. Note that if you use Stripe to send automatic email receipts to your customers, your receipt emails will include the description of the charge(s) that they are describing.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "destination",
            "description": "An account to make the charge on behalf of. If specified, the charge will be attributed to the destination account for tax reporting, and the funds from the charge will be transferred to the destination account. The ID of the resulting transfer will be returned in the transfer field of the response. See the documentation for details.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_year",
            "description": "Two or four digit number representing the cards expiration year.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a charge object. It can be useful for storing additional information about the customer in a structured format. Its often a good idea to store an email address in metadata for tracking later.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Cardholders full name.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "number",
            "description": "The card number, as a string without any separators.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "object",
            "description": "The type of payment source. Should be card.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "receipt_email",
            "description": "The email address to send this charges receipt to. The receipt will not be sent until the charge is paid. If this charge is for a customer, the email address specified here will override the customers email address. Receipts will not be sent for test mode charges. If receipt_email is specified for a charge in live mode, a receipt will be sent regardless of your email settings.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "shipping",
            "description": "Shipping information for the charge. Helps prevent fraud on charges for physical goods. For more information, see the Charge object documentation.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "source",
            "description": "A payment source to be charged, such as a credit card. If you also pass a customer ID, the source must be the ID of a source belonging to the customer. Otherwise, if you do not pass a customer ID, the source you provide must either be a token, like the ones returned by Stripe.js, or a dictionary containing a users credit card details, with the options described below. Although not all information is required, the extra info helps prevent fraud.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "statement_descriptor",
            "description": "An arbitrary string to be displayed on your customers credit card statement. This may be up to 22 characters. As an example, if your website is RunClub and the item youre charging for is a race ticket, you may want to specify a statement_descriptor of RunClub 5K race ticket. The statement description may not include &lt;&gt;&quot;&apos; characters, and will appear on your customers statement in capital letters. Non-ASCII characters are automatically stripped. While most banks display this information consistently, some may display it incorrectly or not at all.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Charges"
        ],
        "security": []
      }
    },
    "/country_specs/US/": {
      "get": {
        "summary": "Retrieve a Country Spec",
        "description": "Returns a Country Spec for a given Country code.",
        "operationId": "retrieve-country-spec",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "description": "An ISO country code. Available country codes can be listed with the List Country Specs endpoint.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Country"
        ],
        "security": []
      }
    },
    "/country_specs/": {
      "get": {
        "summary": "List Country Specs",
        "description": "Lists all Country Spec objects available in the API.",
        "operationId": "list-country-specs",
        "parameters": [
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Country"
        ],
        "security": []
      }
    },
    "/coupons/{coupon_id}/": {
      "delete": {
        "summary": "Delete a coupon",
        "description": "You can delete coupons via the coupon management page of the Stripe dashboard. However, deleting a coupon does not affect any customers who have already applied the coupon; it means that new customers canu2019t redeem the coupon. You can also delete coupons via the API.",
        "operationId": "delete-coupon",
        "parameters": [
          {
            "in": "query",
            "name": "coupon",
            "description": "The identifier of the coupon to be deleted.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "coupon_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Coupons"
        ],
        "security": []
      },
      "post": {
        "summary": "Update a coupon",
        "description": "Updates the metadata of a coupon. Other coupon details (currency, duration, amount_off) are, by design, not editable.n      ",
        "operationId": "update-coupon",
        "parameters": [
          {
            "in": "path",
            "name": "coupon_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The identifier of the coupon to be updated.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a coupon object. It can be useful for storing additional information about the coupon in a structured format.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Coupons"
        ],
        "security": []
      }
    },
    "/coupons/": {
      "get": {
        "summary": "List all coupons",
        "description": "Returns a list of your coupons.",
        "operationId": "list-coupons",
        "parameters": [
          {
            "in": "query",
            "name": "created",
            "description": "A filter on the list based on the object created field. The value can be a string with an integer Unix timestamp, or it can be a dictionary with the following options:",
            "type": "string"
          },
          {
            "in": "query",
            "name": "ending_before",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "gte",
            "description": "Return values where the created field is after or equal to this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100 items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "lt",
            "description": "Return values where the created field is before this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "lte",
            "description": "Return values where the created field is before or equal to this timestamp.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "starting_after",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Coupons"
        ],
        "security": []
      },
      "post": {
        "summary": "Create a coupon",
        "description": "You can create coupons easily via the coupon management page of the Stripe dashboard. Coupon creation is also accessible via the API if you need to create coupons on the fly.",
        "operationId": "create-coupon",
        "parameters": [
          {
            "in": "query",
            "name": "amount_off",
            "description": "A positive integer representing the amount to subtract from an invoice total (required if percent_off is not passed)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "Currency of the amount_off parameter (required if amount_off is passed)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "duration",
            "description": "Specifies how long the discount will be in effect. Can be forever, once, or repeating.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "duration_in_months",
            "description": "Required only if duration is repeating, in which case it must be a positive integer that specifies the number of months the discount will be in effect.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Unique string of your choice that will be used to identify this coupon when applying it to a customer. This is often a specific code youu2019ll give to your customer to use when signing up (e.g. FALL25OFF). If you donu2019t want to specify a particular code, you can leave the ID blank and weu2019ll generate a random code for you.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "max_redemptions",
            "description": "A positive integer specifying the number of times the coupon can be redeemed before itu2019s no longer valid.  For example, you might have a 50% off coupon that the first 20 readers of your blog can use.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a coupon object. It can be useful for storing additional information about the coupon in a structured format.      This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "percent_off",
            "description": "A positive integer between 1 and 100 that represents the discount the coupon will apply (required if amount_off is not passed)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "redeem_by",
            "description": "Unix timestamp specifying the last time at which the coupon can be redeemed.  After the redeem_by date, the coupon can no longer be applied to new customers.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Coupons"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/sources/{bank_id}/": {
      "get": {
        "summary": "Retrieve a bank account",
        "description": "By default, you can see the 10 most recent bank accounts stored on a Customer directly on the object, but you can also retrieve details about a specific bank account stored on the Stripe account.n      ",
        "operationId": "customer-retrieve-bank-account",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "ID of bank account to retrieve",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/subscriptions/{subscription_id}/": {
      "delete": {
        "summary": "Cancel a subscription",
        "description": "Cancels a customeru2019s subscription. If you set the at_period_end parameter to true, the subscription will remain active until the end of the period, at which point it will be canceled and not renewed. By default, the subscription is terminated immediately. In either case, the customer will not be charged again for the subscription. Note, however, that any pending invoice items that youu2019ve created will still be charged for at the end of the period unless manually deleted. If youu2019ve set the subscription to cancel at period end, any pending prorations will also be left in place and collected at the end of the period, but if the subscription is set to cancel immediately, pending prorations will be removed.",
        "operationId": "cancel-subscription",
        "parameters": [
          {
            "in": "query",
            "name": "at_period_end",
            "description": "A flag that if set to true will delay the cancellation of the subscription until the end of the current period.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "subscription_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      },
      "post": {
        "summary": "Update a subscription",
        "description": "Updates an existing subscription on a customer to match the specified parameters.When changing plans or quantities, we will optionally prorate the price we charge next month to make up for any price changes.To preview how the proration will be calculated, use the upcoming invoice endpoint.n      ",
        "operationId": "update-subscription",
        "parameters": [
          {
            "in": "query",
            "name": "application_fee_percent",
            "description": "A positive decimal (with at most two decimal places) between 1 and 100 that represents the percentage of the subscription invoice amount due each billing period (including any bundled invoice items) that will be transferred to the application owneru2019s Stripe account. The request must be made with an OAuth key in order to set an application fee percentage . For more information, see the application fees documentation.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "coupon",
            "description": "The code of the coupon to apply to this subscription. A coupon applied to a subscription will only affect invoices created for that particular subscription.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "cvc",
            "description": "Card security code. Required unless your account is registered in Australia, Canada, or the United States. Highly recommended to always include this value.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_month",
            "description": "Two digit number representing the cards expiration month.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_year",
            "description": "Two or four digit number representing the cards expiration year.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a subscription object. It can be useful for storing additional information about the subscription in a structured format.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Cardholders full name.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "number",
            "description": "The card number, as a string without any separators.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "plan",
            "description": "The identifier of the plan to update the subscription to. If omitted, the subscription will not change plans.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "prorate",
            "description": "Flag telling us whether to prorate switching plans during a billing cycle.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "proration_date",
            "description": "If set, the proration will be calculated as though the subscription was updated at the given time.    This can be used to apply exactly the same proration that was previewed with    upcoming invoice endpoint.    It can also be used to implement custom proration logic, such as prorating by day instead of by second,    by providing the time that you wish to use for proration calculations.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "quantity",
            "description": "The quantity of the plan to which the customer should be subscribed. For example, if your plan is $10/user/month, and your customer has 5 users, you could pass 5 as the quantity to have the customer charged $50 (5 x $10) monthly. If you update a subscription but dont change the plan ID (e.g. changing only the trial_end), the subscription will inherit the old subscriptions quantity attribute unless you pass a new quantity parameter.  If you update a subscription and change the plan ID, the new subscription will not inherit the quantity attribute and will default to 1 unless you pass a quantity parameter.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "source",
            "description": "The source can either be a token, like the ones returned by our Stripe.js, or a dictionary containing a users credit card details (with the options shown below). You must provide a source if the customer does not already have a valid source attached, and you are subscribing the customer for a plan that is not free. Passing source will create a new source object, make it the customer default source, and delete the old customer default if one exists. If you want to add an additional source to use with subscriptions, instead use the card creation API to add the card and then the customer update API to set it as the default. Whenever you attach a card to a customer, Stripe will automatically validate the card.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "subscription_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tax_percent",
            "description": "Update the amount of tax applied to this subscription. Changing the tax_percent of a subscription will only affect future invoices.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "trial_end",
            "description": "Unix timestamp representing the end of the trial period the customer will get before being charged for the first time. If set, trial_end will override the default trial period of the plan the customer is being subscribed to. The special value now can be provided to end the customers trial immediately.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/": {
      "delete": {
        "summary": "Delete a customer",
        "description": "Permanently deletes a customer. It cannot be undone. Also immediately cancels any active subscriptions on the customer.",
        "operationId": "delete-customer",
        "parameters": [
          {
            "in": "query",
            "name": "customer",
            "description": "The identifier of the customer to be deleted",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      },
      "post": {
        "summary": "Update a customer",
        "description": "n      Updates the specified customer by setting the values of the parameters passed. Any parameters not provided will be left unchanged.  For example, if you pass the source parameter, that becomes the customers active source (e.g., a card) to be used for all charges in the future. When you update a customer to a new valid source: for each of the customers current subscriptions, if the subscription is in the past_due state, then the latest unpaid, unclosed invoice for the subscription will be retried (note that this retry will not count as an automatic retry, and will not affect the next regularly scheduled payment for the invoice). (Note also that no invoices pertaining to subscriptions in the unpaid state, or invoices pertaining to canceled subscriptions, will be retried as a result of updating the customers source.)n      ",
        "operationId": "update-customer",
        "parameters": [
          {
            "in": "query",
            "name": "account_balance",
            "description": "An integer amount in cents that represents the  account balance for your customer. Account balances only affect invoices. A negative amount represents  a credit that decreases the amount due on an invoice; a positive amount increases the amount due on an invoice.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "business_vat_id",
            "description": "The customeru2019s VAT identification number.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "coupon",
            "description": "If you provide a coupon code, the customer will have an      discount applied on all recurring charges.  Chargesn      you create through the API will not have the discount.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "Required when adding a card to an account (not applicable to a customers or recipients). The card (which must be a debit card) can be used as a transfer destination for funds in this currency. Currently, the only supported currency for debit card transfers is usd.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "cvc",
            "description": "Card security code. Required unless your account is registered in Australia, Canada, or the United States. Highly recommended to always include this value.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_for_currency",
            "description": "Only applicable on accounts (not customers or recipients). If you set this to true (or if this is the first external account being added in this currency) this card will become the default external account for its currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_source",
            "description": "ID of source to make the customeru2019s new default for invoice payments",
            "type": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "An arbitrary string that you can attach to a customern      object. It is displayed alongside the customer in the dashboard.      This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Customeru2019s email address.n      Itu2019s displayed alongside the customer in your dashboard and can be usefuln      for searching and tracking.      This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_month",
            "description": "Two digit number representing the cards expiration month.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "exp_year",
            "description": "Two or four digit number representing the cards expiration year.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "A set of key/value pairs that you can attach to a customern      object. It can be useful for storing additional information about the customern      in a structured format.      This will be unset if you POST an empty value.This can be unset by updating the value to null and then saving.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Cardholders full name.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "number",
            "description": "The card number, as a string without any separators.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "source",
            "description": "The source can either be a token, like the ones returned by ourn      Stripe.js, or a dictionary containing a useru2019s credit cardn      details (with the options shown below). Passing source will create a new source object,n      make it the new customer default source, and delete the old customer default if one exists.n      If you want to add additional sources instead of replacing the existing default,n      use the card creation API. Whenever you attach a card to a customer,n      Stripe will automatically validate the card.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/discount/": {
      "delete": {
        "summary": "Delete a customer discount",
        "description": "Removes the currently applied discount on a customer.",
        "operationId": "delete-discount",
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/sources/{bank_account_id}/": {
      "delete": {
        "summary": "Delete a bank account",
        "description": "You can delete bank accounts from a Customer.n      ",
        "operationId": "customer-delete-bank-account",
        "parameters": [
          {
            "in": "path",
            "name": "bank_account_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the source to be deleted.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      },
      "post": {
        "summary": "Update a bank account",
        "description": "Updates the metadata, account_holder_name, and account_holder_type of a bank account belonging to a Customer.Other bank account details are not editable by design.n      ",
        "operationId": "customer-update-bank-account",
        "parameters": [
          {
            "in": "query",
            "name": "account_holder_name",
            "description": "The name of the person or business that owns the bank account.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "account_holder_type",
            "description": "The type of entity that holds the account. This can be either individual or company.",
            "type": "string"
          },
          {
            "in": "path",
            "name": "bank_account_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the bank account to be updated.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/sources/{card_id}/": {
      "delete": {
        "summary": "Delete a card",
        "description": "You can delete cards from a customer or recipient.n      ",
        "operationId": "delete-card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      },
      "get": {
        "summary": "Retrieve a card",
        "description": "You can always see the 10 most recent cards directly on a customer or recipient; this method lets you retrieve details about a specific card stored on the customer or recipient.n      ",
        "operationId": "retrieve-card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the card to be retrieved.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      },
      "post": {
        "summary": "Update a card",
        "description": "If you need to update only some card details, like the billing address or expiration date, you can do so without having to re-enter the full card details. Stripe also works directly with card networks so that your customers can continue using your service without interruption.n      ",
        "operationId": "update-card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "type": "string"
          },
          {
            "in": "path",
            "name": "customer_id",
            "type": "string"
          },
          {
            "in": "query",
            "name": "default_for_currency",
            "description": "Only applicable on accounts (not customers or recipients). If set to true, this card will become the default external account for its currency.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "id",
            "description": "The ID of the card to be updated.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "security": []
      }
    },
    "/customers/{customer_id}/sources/": {
      "post": {
        "summary": "Create a bank account",
        "description": "When you create a new bank account, you must specify a Customer to create it on.n      ",
        "operationId": "customer-create-bank-account",
        "parameters": [
          {
            "in": "query",
            "name": "currency",
[...]
